# =========================================
#   PORTFOLIO — Environment Variables
#   Copy this to config.js and fill in values
# =========================================

EMAILJS_SERVICE_ID=service_l5bhjst
EMAILJS_TEMPLATE_ID=template_tukicl6
EMAILJS_PUBLIC_KEY=VnmxpomUjUlBw0sD4
CONTACT_EMAIL=ashwathgunasekar04@gmail.com
